APPLE_ID=seu_email_da_apple_ou_que_está_cadastrado_no_seu_iphone
APPLE_APP_PASSWORD=código_entregue_após_a_criação_da_senha_específica_para_app
CALDAV_URL=https://caldav.icloud.com/

DATABASE_URL=sua_conexao_com_o_banco